#======================================
# General settings
#======================================

DEBUG_MODE=false
BASE_URL=http://localhost
LANGUAGE=english

#======================================
# DATABASE SETTINGS
#======================================
DB_HOST=mysql
DB_NAME=easyappointments
DB_USERNAME=user
DB_PASSWORD=password

#======================================
# GOOGLE CALENDAR SYNC
# (Optional - can also be configured via UI)
#======================================
GOOGLE_SYNC_FEATURE=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#======================================
#email configuration settings
#======================================
EMAIL_SMTP_DEBUG=0
EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=25
EMAIL_FROM_NAME=Easy Appointments
EMAIL_FROM_ADDRESS=noreply@easyappointments.org
EMAIL_USERAGENT=Easy!Appointments
#smtp/mail (alternartive options)
EMAIL_PROTOCOL=smtp
#text/html (alternartive options)
EMAIL_MAILTYPE=html
#false/true for anonymous relay
EMAIL_SMTP_AUTH=true
EMAIL_SMTP_USER=mailuser
EMAIL_SMTP_PASS=mailpassword
#tls/ssl (alternartive options)
EMAIL_SMTP_CRYPTO=ssl
EMAIL_REPLY_TO=
EMAIL_CRLF=\r\n
EMAIL_NEWLINE=\r\n